

<footer>
	<div class="footer-social-icon">
		<ul>
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#"><i class="fa fa-youtube"></i></a></li>
			<li><a href="https://t.me/spectremovieuz" target="_blank"><i class="fa fa-telegram"></i></a></li>
		</ul>
	</div>
	
	<div class="footer-menu">

		   <ul>
    	
		    	<li><a href="#">Sayt Haqida</a></li>
		    	<li><a href="#">Aloqa Uchun</a></li>
		    	<li><a href="#">Saytda Reklama</a></li>
		    	<li><a href="#">Onlayn TV</a></li>

		   </ul>
	</div>

	
</footer>
<hr>
<div class="footer-footer">
		
		<img src="media/images/uzbekistan-flag.jpg" />
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		<span>2021 - 2022 <br> Sayt huquqlari himoyalangan. Ushbu sayt ..... Group tomonidan yaratildi.</span>
</div>

