{% load static %}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>SpectreMovie.uz</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightslider.css' %}">
    

	<!--- Font font-awesome dan foydalanish uchun --->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="{% static 'js/JQuery3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lightslider.js' %}"></script>
    

</head>
<body>
    

<section class="mmcontainer">
    <div class="mmhead">
        <img src="media/images/rmlogo.png">
        <a href="#">Premium Sahifa</a>
    </div>
</section>
<section class="mmbanner">
    <img src="media/images/mmbg.jpg" class="fit">
    <div class="mmbox">
        <div class="mmheading">
            <h2>Chegarasiz kinolar, TV Shoular va boshqalar.</h2>
            <h5>Istalgan joyda , Qulay vaqtda.</h5>
            <p>Tomoshaga tayyormisiz ? Emailgizni kiriting va yangiliklardan xabardor bo'ling.</p>

        </div>
        <div class="mmsubcribe">
            <input type="email" name="mmemail" placeholder="Email manzilini kiriting">
            <a href="{% url 'movies-page' %}">Kino Olamiga O'tish > </a>
        </div>
    </div>
</section>




   <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


</body>
</html>