{% load static %}




<nav>

	<a href="{% url 'movies-index' %}">
		<img src="media/images/logo.png">
	</a>

	
    <ul>
    	
    	<li><a href="{% url 'movies-index' %}">Bosh Sahifa</a></li>
    	<li><a href="{% url 'movies-page' %}">Kinolar</a></li>
    	<li><a href="#">TV Shoular</a></li>
    	<li><a href="{% url 'trellers-page' %}">Kino Treller</a></li>
        <li><a href="#">TOP</a></li>

    </ul>

    <div class="search">
		<input type="text" name="search" placeholder="Qidirish...">
		<i class="fa fa-search"></i>
	</div>


</nav>



