<h1 class="post-heading">Yangiliklar</h1>

<div class="posts-container">

 <div class="row">
	  
	{% for post in PostsForMainMenu %}
        <div class="column">
			<div class="post-container">
				
			     <div class="post-head">
			     	<img src="{{ post.post_image.url }}">
			     </div>
			     <div class="post-body">
			     	
			     	<h2>{{ post.post_title }}</h2>
			     	<p>{{ post.post_description }}</p>
			     	<span class="post-admin">{{ post.post_author }}</span>
			     	<span class="post-date">{{ post.post_date }}</span>
			     </div>
			     <div class="post-footer">
			     	<a href="">Davomini O'qish</a>
			     </div>
			</div>
        </div>
	{% endfor %}
</div> 

</div>