{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style-treller-animation.css' %}">
  <title></title>
</head>
<body>


<center>
<div style="width: 45%; align-items: center;">
  <div class="banner">
    <div class="content-treller">
    <center><img src="media/images/treller-1.jpg" class="img"></center>
    <br>
    <h2>Godzilla vs Kong</h2>
    <p>Insoniyat Godzilla va Kongning teng bo'lmagan jangda birlashishga majbur bo'lishida aybdor. Yer yuzidagi yirtqich hayvonlarning hayotini kuzatib boradigan Monarx tashkiloti titanlarning kelib chiqishi sirini ochib berishga umid qilib, Boshsuyagi orolining ajralmagan erlariga ekspeditsiya yuboradi. Ammo, "Monarx" dan tashqari, yaxshi va yomonni ham yo'q qilishni rejalashtirgan boshqa odamlar ham bor.</p>
    <center><a style="cursor: pointer;" onclick="toggle();">Watch treller</a></center>

    </div>
  </div>

  <div class="treller">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/odM92ap8_c0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <img src="media/images/close.jpg" class="close" onclick="toggle();">
  </div>
</div>
</center>

  <script type="text/javascript">
    function toggle() {
      var treller = document.querySelector(".treller")

      var vidio = document.querySelector("vidio")

      treller.classList.toggle("active")
      vidio.pause();
      vidio.currentTime = 0;
    }
  </script>


</body>
</html>