{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style-treller-animation.css' %}">
  <title></title>
</head>
<body>


<div id="movie-card-list">
  <div class="movie-card" data-movie="Godzilla vs Kong">
    <div class="movie-card__overlay"></div>
    <div class="movie-card__content">
      <div class="movie-card__header">
        <h1 class="movie-card__title">Godzilla vs Kong</h1>
        <h4 class="movie-card__info">2021 31-Mart</h4>
      </div>
      <p class="movie-card__desc">bir nimalar , taxminan 3-qator</p>
      <button class="btn btn-outline" type="button" onclick="toggle()">Watch Trailer</button>
      <div class="treller">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/odM92ap8_c0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <img src="media/images/treller/close.jpg" class="close" onclick="toggle();">
  </div>
    </div>
  </div>


  <div class="movie-card" data-movie="Godzilla vs Kong">
    <div class="movie-card__overlay"></div>
    <div class="movie-card__content">
      <div class="movie-card__header">
        <h1 class="movie-card__title">Godzilla vs Kong</h1>
        <h4 class="movie-card__info">2021 31-Mart</h4>
      </div>
      <p class="movie-card__desc">bir nimalar , taxminan 3-qator</p>
      <button class="btn btn-outline" type="button" onclick="toggle()">Watch Trailer</button>
      <div class="treller">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/odM92ap8_c0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <img src="media/images/treller/close.jpg" class="close" onclick="toggle();">
  </div>
    </div>
  </div>


<div class="movie-card" data-movie="Godzilla vs Kong">
    <div class="movie-card__overlay"></div>
    <div class="movie-card__content">
      <div class="movie-card__header">
        <h1 class="movie-card__title">Godzilla vs Kong</h1>
        <h4 class="movie-card__info">2021 31-Mart</h4>
      </div>
      <p class="movie-card__desc">bir nimalar , taxminan 3-qator</p>
      <button class="btn btn-outline" type="button" onclick="toggle()">Watch Trailer</button>
      <div class="treller">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/odM92ap8_c0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <img src="media/images/treller/close.jpg" class="close" onclick="toggle();">
  </div>
    </div>
  </div>  

</div>






<script type="text/javascript">
    function toggle() {
      var treller = document.querySelector(".treller")

      var vidio = document.querySelector("vidio")

      treller.classList.toggle("active")
      vidio.pause();
      vidio.currentTime = 0;
    }
  </script>


</body>
</html>