@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fraunces', serif;
}

li {

	list-style: none;
}

a {
	text-decoration: none;
}

nav {

	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 80px;
	border: 1px solid rgba(0,0,0,0.4);
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.logo {

	
}

.logo > img {


}

nav > ul {

	display: flex;
}

nav > ul > li > a {

	height: 50px;
	line-height: 45px;
	margin: 0px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #585858;
	letter-spacing: 1px;
}

.search {

	width: 250px;
	height: 40px;
	background-color: rgba(245,245,245,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}

.search > input {

	width: 100%;
	height: 30px;
	border: none;
	outline: none;
	background-color: transparent;
}

.search > i {

	color: #3a3a3a;
}

nav > ul > li > a:hover {

	color: #ffffff;
	background-color: #242424;
	box-shadow: 5px 10px 30px rgba(53,53,53,0.1);
	transition: all ease 0.2s;
}










footer {
    
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0px;
    border-top: 1px solid #242424;
	background-color: #ffffff;
}

footer > .footer-social-icon {


    padding: 10px;
}

footer > .footer-social-icon > ul {

	display: flex;
	list-style: none;

}

footer > .footer-social-icon > ul > li {

	margin-right: 30%;
	font-size: 40px;

}

footer > .footer-social-icon > ul > li > a {

	color: #404040;
}

footer > .footer-social-icon > ul > li > a > i {

    
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

footer > .footer-social-icon > ul > li > a > i:hover {

	color: #487a6a;
}

footer > .footer-menu > ul {

	list-style: none;
	display: flex;

}

footer > .footer-menu > ul > li > a {

	text-decoration: none;
	padding: 5px 20px;
	color: #404040;
	border: 3px solid #ffffff;
}

footer > .footer-menu > ul > li > a:hover {

	
	border: 3px solid #404040;
	border-radius: 5px;
}

footer > .footer-menu > ul > li {

	align-items: center;
}












#main {

	padding-top: 10px;
	background-color: #ffffff; 
	text-align: center;
	border-bottom: 1px solid grey;
	border-radius: 10px;
	padding-bottom: 10px; 
}

.box {

	width: 430px;
	height: 250px;
	box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
	border-radius: 10px;
	margin: 0px 20px 10px 20px;
	overflow: hidden;
}

.box > img {

	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.heading {

	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px; 
	font-weight: 500;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 1.8rem;
	color: #1a1a1a;
	border-top: 1px solid grey;
	
	border-radius: 10px;
}

.cs-hidden {

	overflow: visible !important;
}

.video-section {

	background-color: #242424;
	margin: 10px 3px;
	padding: 3px 3px;
	border: 1px solid grey;
	border-radius: 10px;
	box-shadow: 5px 15px 30px rgba(0,0,0,0.5);
}

.video-body {

	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}
.video-section > video {

	width: 50%;
	height: 50%;
}
.video-section > h1 {

	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px; 
	font-weight: 500;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 1.8rem;
	color: #ffffff;
}
.video-section-caption {

    float: right;
	margin: 10px;
	color: #ffffff;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.5);
	text-align: center;
	height: 275px;
}

.video-section-caption > h2 {

	margin: 30px;

}

.video-section-caption > p {

	margin: 10px;

}







.posts-container {


}


.post-container {

	margin: 10px 10px;
	width: 100%;
	height: 500px;
	border: 0.1px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.5);
	overflow: hidden;
}
.post-head {

	width: 100%;
	height: 50%;
}

.post-head > img {

	width: 100%;
	height: 100%;
}

.post-body {

	text-align: center;
	padding: 8px;
}

.post-body > h2 {

    margin: 10px;
}

.post-body > p {
    
    margin: 15px 3px;
}

.post-body > span {

	color: #4098c7;
	text-align: center;
	margin: 10px;
}

.post-footer {

	background-color: #4940c7;
	margin: 3px 0px;
	width: 100%;
	height: 80px;
	padding: 20px;
	text-align: center;
	font-size: 25px;
}

.post-footer > a {

	text-decoration: none;
	color: white;
}

.post-heading {

	margin: 30px 10px;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid grey;
}

.column {
  float: left;
  width: 30%;
  margin-left: 25px;
  margin-bottom: 20px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}