@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
#asdasdas
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Potta One', cursive;
}


footer {
    
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 3px;
    padding: 10px;
	background-color: #487a6a;
}

footer > .footer-social-icon {


    padding: 10px;
}

footer > .footer-social-icon > ul {

	display: flex;
	list-style: none;

}

footer > .footer-social-icon > ul > li {

	margin-right: 30%;
	font-size: 40px;

}

footer > .footer-social-icon > ul > li > a {

	color: white;
}

footer > .footer-social-icon > ul > li > a > i {

    
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

footer > .footer-social-icon > ul > li > a > i:hover {

	color: #487a6a;
}

footer > .footer-menu > ul {

	list-style: none;
	display: flex;

}

footer > .footer-menu > ul > li > a {

	text-decoration: none;
	padding: 5px 20px;
	color: white;
	border: 3px solid #487a6a;
}

footer > .footer-menu > ul > li > a:hover {

	
	border: 3px solid white;
	border-radius: 5px;
}

footer > .footer-menu > ul > li {

	align-items: center;
}

.nav {

	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	text-decoration: none;
	background-color: #487a6a;
	height: 60px;
}

.nav > a {
    
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.nav > a > span {
	
	color: grey;
	font-size: 20px;
	font-family: 'Potta One', cursive;
}
#test
.nav > a:first-letter {

	color: grey;
	font-size: 20px;
	font-family: 'Potta One', cursive;
}

.nav > ul {
    
	display: flex;
	list-style: none;

}

.nav > ul > li > a {

    color: #ffff;
    display: flex;
	text-decoration: none;
	margin: 0px;
	padding: 5px 20px;
	border: 3px solid #487a6a;
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
}
.search > button {

	background-color: #487a6a;
	padding: 4px;
	width: 80px;
	color: white;
	font-size: 20px;
	border: 3px solid #487a6a;
	outline: none;
	border-radius: 10px; 
}

.search > button:hover {

    border-color: white;
}

.search > input {
	width: 100%;
	height: 20px;
	margin: 5px;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 10px; 
}

.nav > ul > li > a:hover {

    border-radius: 5px;
	border: 3px solid white;
}
